// =========== Colors
$light: #fff;
$primary: #279EFF;
$primary-darker: #CAE6FF;
$primary-dark: #E0F0FD;
$primary-light: #F0F8FF;
$primary-lighter: #F6FBFF;
$success-light: #D5FCF3;
$success: #32C6A3;
$warning-light: #FFF7EE;
$warning: #FFB35C;
$secondary-light: #BCB6FF;
$secondary: #6E3AFF;
$dark-ligther: #586991;
$dark: #415485;